astrosharma-bot.json
{
  "name": "AstroSharma WhatsApp AI Bot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [ 300, 300 ],
      "webhookId": "astrosharma-whatsapp"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": {
          "responseCode": 200
        }
      },
      "id": "2",
      "name": "Respond 200 Immediately",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [ 520, 180 ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst entry = body?.entry?.[0];\nconst change = entry?.changes?.[0];\nconst message = change?.value?.messages?.[0];\n\n// Ignore delivery receipts and status updates\nif (!message || message.type !== 'text') {\n  return [];\n}\n\nreturn [{\n  json: {\n    userId: message.from,\n    phone: message.from,\n    text: message.text?.body?.trim() || '',\n    messageType: message.type,\n    timestamp: message.timestamp\n  }\n}];"
      },
      "id": "3",
      "name": "Extract Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 520, 300 ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/sessions?user_id=eq.{{ $json.userId }}&select=*",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_KEY }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": false,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "4",
      "name": "Load Session from Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [ 740, 300 ]
    },
    {
      "parameters": {
        "jsCode": "const msgData = $('Extract Message').first().json;\nconst sessionRows = $input.first().json;\n\n// Supabase returns an array; grab first row if exists\nconst existingSession = Array.isArray(sessionRows) && sessionRows.length > 0\n  ? sessionRows[0].data\n  : null;\n\nconst defaultSession = {\n  state: 'TRIAGE',\n  checkoutStep: null,\n  collectedData: {},\n  recommendedPackage: null,\n  messageCount: 0,\n  lastUpdated: new Date().toISOString()\n};\n\nconst session = existingSession || defaultSession;\n\n// Escalation guard\nif (session.messageCount > 12 && session.state === 'TRIAGE') {\n  session.state = 'ESCALATE';\n}\n\nreturn [{\n  json: {\n    userId: msgData.userId,\n    phone: msgData.phone,\n    text: msgData.text,\n    session\n  }\n}];"
      },
      "id": "5",
      "name": "Init or Load Session",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 960, 300 ]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.session.state }}",
                    "rightValue": "TRIAGE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TRIAGE"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.session.state }}",
                    "rightValue": "CHECKOUT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CHECKOUT"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.session.state }}",
                    "rightValue": "ESCALATE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ESCALATE"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.session.state }}",
                    "rightValue": "PAYMENT_SENT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PAYMENT_SENT"
            }
          ]
        },
        "options": {}
      },
      "id": "6",
      "name": "State Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [ 1180, 300 ]
    },
    {
      "parameters": {
        "jsCode": "const { text, session } = $input.first().json;\n\nconst systemPrompt = `You are \"Jyoti\", the warm and professional front-desk assistant for AstroSharma, a trusted astrology consultation practice. You are NOT an astrologer. You are a knowledgeable receptionist who helps clients find the right consultation for their needs.\n\nYOUR CORE PURPOSE:\nListen to the client's concern with empathy, identify the most suitable consultation package from our three offerings, and guide them toward booking it. Nothing more.\n\nTHE THREE PACKAGES (your only options):\n1. DEEP_CHART_ANALYSIS — For complex life challenges: career stagnation, financial losses, health concerns, relationship conflicts, or general life direction.\n2. MATCHMAKING — For checking astrological compatibility between two people considering marriage.\n3. MUHURTHAM — For finding an auspicious date/time for a specific upcoming event (wedding, house warming, naming ceremony, business launch, etc.)\n\nSTRICT RULES — NEVER VIOLATE THESE:\n- NEVER predict outcomes. NEVER say things like \"Saturn is affecting you\" or \"Your stars suggest...\". You are a receptionist, not an astrologer.\n- NEVER interpret a birth chart, planetary position, or horoscope under any circumstances.\n- If a user directly asks for astrological advice or a prediction, respond warmly but firmly: \"That's exactly what our expert astrologer will guide you on during your consultation! My job is just to make sure you're connected with the right session.\"\n- NEVER recommend more than one package per message. Pick the single best fit.\n- NEVER break character. You are always Jyoti, always calm, always warm.\n- If a user's problem is ambiguous, ask ONE gentle clarifying question before recommending.\n- NEVER mention competitor services.\n- If a user is rude or distressed, respond with extra compassion. Never be dismissive.\n\nRESPONSE FORMAT RULES (Critical for WhatsApp):\n- Maximum 2 short paragraphs per message. Be concise.\n- Use simple, warm language. Avoid jargon.\n- Always end with a soft call-to-action: \"Shall I help you book this consultation?\"\n- Do NOT use asterisks, markdown, or formatting characters.\n\nLANGUAGE HANDLING:\n- If the user writes in Telugu, Hindi, or any other Indian language, reply in that same language.\n- If the user mixes languages (Hinglish/Tenglish), mirror their style naturally.\n\nWHAT YOU MUST NEVER SAY:\n- \"Based on your stars...\"\n- \"Your chart shows...\"\n- \"This planetary period suggests...\"\n- \"You are going through a bad phase...\"\n- \"Things will get better soon...\"\n- Any specific prediction, timeline, or astrological interpretation.`;\n\nreturn [{\n  json: {\n    ...$input.first().json,\n    llmPayload: {\n      model: 'gemini-1.5-flash',\n      systemPrompt,\n      userMessage: text\n    }\n  }\n}];"
      },
      "id": "7",
      "name": "Build LLM Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 1400, 180 ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.llmPayload.userMessage }}",
        "messages": {
          "messageValues": [
            {
              "type": "system",
              "message": "={{ $json.llmPayload.systemPrompt }}"
            }
          ]
        }
      },
      "id": "8",
      "name": "Smart AI Triage",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [ 1620, 180 ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {
          "temperature": 0.7,
          "maxOutputTokens": 300
        }
      },
      "id": "9",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [ 1620, 380 ]
    },
    {
      "parameters": {
        "jsCode": "const llmText = $input.first().json.text || '';\nconst prev = $('Build LLM Prompt').first().json;\nconst userText = prev.llmPayload?.userMessage?.toLowerCase() || '';\nconst session = prev.session || {};\n\n// Detect booking intent from user's message\nconst bookingTriggers = [\n  'yes', 'book', 'proceed', 'confirm', 'ok',\n  'haan', 'ha', 'sure', 'please', 'go ahead',\n  'sounds good', 'i want', 'book it', 'schedule'\n];\nconst userWantsToBook = bookingTriggers.some(t => userText.includes(t));\n\n// Extract which package the LLM recommended\nlet recommendedPackage = session.recommendedPackage;\nif (llmText.includes('Deep Chart')) recommendedPackage = 'DEEP_CHART_ANALYSIS';\nif (llmText.includes('Matchmaking')) recommendedPackage = 'MATCHMAKING';\nif (llmText.includes('Muhurtham')) recommendedPackage = 'MUHURTHAM';\n\nconst messageCount = (session.messageCount || 0) + 1;\n\nconst updatedSession = {\n  ...session,\n  recommendedPackage,\n  messageCount,\n  state: userWantsToBook ? 'CHECKOUT' : 'TRIAGE',\n  checkoutStep: userWantsToBook ? 'NAME' : null,\n  lastUpdated: new Date().toISOString()\n};\n\nconst replyText = userWantsToBook\n  ? `Wonderful!  Let me get a few details to complete your booking.\\n\\nFirst, could you please share the name of the person the consultation is for?`\n  : llmText;\n\nreturn [{\n  json: {\n    userId: prev.userId,\n    phone: prev.phone,\n    text: prev.text,\n    llmReply: llmText,\n    replyText,\n    userWantsToBook,\n    session: updatedSession\n  }\n}];"
      },
      "id": "10",
      "name": "Parse Intent + Detect Booking",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 1840, 180 ]
    },
    {
      "parameters": {
        "jsCode": "const { text, session, userId, phone } = $input.first().json;\nconst step = session.checkoutStep;\nconst collected = { ...session.collectedData };\n\n// Save the answer to the CURRENT step\nif (step === 'NAME')        collected.name       = text;\nif (step === 'DOB')         collected.dob        = text;\nif (step === 'BIRTH_TIME')  collected.birthTime  = text;\nif (step === 'BIRTH_PLACE') collected.birthPlace = text;\n\nconst steps = ['NAME', 'DOB', 'BIRTH_TIME', 'BIRTH_PLACE', 'DONE'];\nconst currentIndex = steps.indexOf(step);\nconst nextStep = steps[currentIndex + 1];\nconst isComplete = nextStep === 'DONE';\n\nconst prompts = {\n  NAME:        `I am glad to help! \\n\\nFirst, could you please share the name of the person the consultation is for?`,\n  DOB:         `Thank you! Could you share ${collected.name || 'their'}'s date of birth?\\n(Example: 14 March 1995)`,\n  BIRTH_TIME:  `Perfect. Do you know their exact time of birth?\\nAn approximate time is absolutely fine too — like \"morning\" or \"around 6 AM\". `,\n  BIRTH_PLACE: `Almost done!  Which city and state were they born in?`\n};\n\nlet replyText;\nif (isComplete) {\n  const pkg = session.recommendedPackage || 'consultation';\n  const pkgLabel = pkg === 'DEEP_CHART_ANALYSIS' ? 'Deep Chart Analysis'\n    : pkg === 'MATCHMAKING' ? 'Matchmaking'\n    : pkg === 'MUHURTHAM' ? 'Muhurtham' : 'Consultation';\n  replyText = `Thank you so much! Here is a summary of your booking:\\n\\n Name: ${collected.name}\\n Date of Birth: ${collected.dob}\\n Time of Birth: ${collected.birthTime}\\n Place of Birth: ${collected.birthPlace}\\n Package: ${pkgLabel}\\n\\nPlease give me a moment while I generate your secure payment link... `;\n} else {\n  replyText = prompts[nextStep];\n}\n\nreturn [{\n  json: {\n    userId,\n    phone,\n    text,\n    replyText,\n    checkoutComplete: isComplete,\n    session: {\n      ...session,\n      collectedData: collected,\n      checkoutStep: isComplete ? 'DONE' : nextStep,\n      state: isComplete ? 'PAYMENT_SENT' : 'CHECKOUT',\n      lastUpdated: new Date().toISOString()\n    }\n  }\n}];"
      },
      "id": "11",
      "name": "Checkout FSM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 1400, 420 ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.checkoutComplete }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "12",
      "name": "Checkout Complete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [ 1620, 420 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.razorpay.com/v1/payment_links",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "amount",
              "value": "={{ $json.session.recommendedPackage === 'DEEP_CHART_ANALYSIS' ? 299900 : $json.session.recommendedPackage === 'MATCHMAKING' ? 199900 : 149900 }}"
            },
            {
              "name": "currency",
              "value": "INR"
            },
            {
              "name": "description",
              "value": "=AstroSharma — {{ $json.session.recommendedPackage === 'DEEP_CHART_ANALYSIS' ? 'Deep Chart Analysis' : $json.session.recommendedPackage === 'MATCHMAKING' ? 'Matchmaking' : 'Muhurtham' }}"
            },
            {
              "name": "customer",
              "value": "={{ JSON.stringify({ name: $json.session.collectedData.name, contact: '+91' + $json.phone }) }}"
            },
            {
              "name": "notify",
              "value": "={{ JSON.stringify({ sms: false, email: false }) }}"
            },
            {
              "name": "reminder_enable",
              "value": "=true"
            },
            {
              "name": "expire_by",
              "value": "={{ Math.floor(Date.now() / 1000) + 86400 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "13",
      "name": "Create Razorpay Link",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [ 1840, 320 ]
    },
    {
      "parameters": {
        "jsCode": "const data = $('Checkout FSM').first().json;\nconst razorpayData = $input.first().json;\n\nconst pkg = data.session.recommendedPackage;\nconst pkgLabel = pkg === 'DEEP_CHART_ANALYSIS' ? 'Deep Chart Analysis'\n  : pkg === 'MATCHMAKING' ? 'Matchmaking'\n  : pkg === 'MUHURTHAM' ? 'Muhurtham' : 'Consultation';\n\nconst amount = pkg === 'DEEP_CHART_ANALYSIS' ? '₹2,999'\n  : pkg === 'MATCHMAKING' ? '₹1,999' : '₹1,499';\n\nconst paymentUrl = razorpayData.short_url || razorpayData.id;\n\nconst replyText = ` *Payment Link Ready!*\\n\\nYour booking summary:\\n ${data.session.collectedData.name}\\n ${data.session.collectedData.dob}\\n ${data.session.collectedData.birthTime}\\n ${data.session.collectedData.birthPlace}\\n ${pkgLabel} — ${amount}\\n\\nPlease complete your payment using the secure link below and your consultation will be confirmed right away. \\n\\n${paymentUrl}`;\n\nreturn [{\n  json: {\n    ...data,\n    replyText,\n    paymentUrl,\n    session: {\n      ...data.session,\n      state: 'PAYMENT_SENT',\n      paymentUrl,\n      lastUpdated: new Date().toISOString()\n    }\n  }\n}];"
      },
      "id": "14",
      "name": "Build Payment Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 2060, 320 ]
    },
    {
      "parameters": {
        "jsCode": "const { phone, text, session, userId } = $input.first().json;\n\nconst replyText = `I completely understand, and I'm sorry you're going through this.  Let me connect you with our team directly for personalized assistance. Someone from AstroSharma will reach out to you very shortly.`;\n\nreturn [{\n  json: {\n    userId,\n    phone,\n    text,\n    replyText,\n    alertMessage: `⚠️ AstroSharma — Human Handoff Needed\\n\\nUser: +${phone}\\nLast message: \"${text}\"\\nMessages sent: ${session.messageCount}\\nPackage interest: ${session.recommendedPackage || 'Unknown'}\\nSession state: ${session.state}`,\n    session: {\n      ...session,\n      state: 'ESCALATE',\n      lastUpdated: new Date().toISOString()\n    }\n  }\n}];"
      },
      "id": "17",
      "name": "Prepare Escalation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 1400, 580 ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "astrosharma-alerts",
          "mode": "name"
        },
        "text": "={{ $json.alertMessage }}",
        "otherOptions": {}
      },
      "id": "18",
      "name": "Slack Alert to Team",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [ 1620, 580 ]
    },
    {
      "parameters": {
        "jsCode": "const { phone, text, session, userId } = $input.first().json;\nreturn [{\n  json: {\n    userId,\n    phone,\n    text,\n    session,\n    replyText: `Your payment link has already been shared above! \\n\\nPlease complete the payment and your booking will be confirmed right away. If you face any issues, our team is here to help.`\n  }\n}];"
      },
      "id": "19",
      "name": "Already Sent Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 1400, 720 ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nreturn [{\n  json: {\n    userId: data.userId,\n    phone: data.phone,\n    replyText: data.replyText,\n    session: data.session\n  }\n}];"
      },
      "id": "20",
      "name": "Consolidate Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 2400, 380 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/sessions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "user_id",
              "value": "={{ $json.userId }}"
            },
            {
              "name": "data",
              "value": "={{ JSON.stringify($json.session) }}"
            },
            {
              "name": "updated_at",
              "value": "={{ new Date().toISOString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "16",
      "name": "Save Session to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [ 2600, 200 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/{{ $env.WHATSAPP_PHONE_NUMBER_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.WHATSAPP_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={{ JSON.stringify({ body: $json.replyText }) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "15",
      "name": "Send WhatsApp Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [ 2600, 500 ]
    }
  ],
  "connections": {
    "WhatsApp Webhook": {
      "main": [
        [
          {
            "node": "Respond 200 Immediately",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message": {
      "main": [
        [
          {
            "node": "Load Session from Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Session from Supabase": {
      "main": [
        [
          {
            "node": "Init or Load Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init or Load Session": {
      "main": [
        [
          {
            "node": "State Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "State Router": {
      "main": [
        [
          {
            "node": "Build LLM Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Checkout FSM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Escalation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Already Sent Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build LLM Prompt": {
      "main": [
        [
          {
            "node": "Smart AI Triage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Smart AI Triage": {
      "main": [
        [
          {
            "node": "Parse Intent + Detect Booking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Smart AI Triage",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse Intent + Detect Booking": {
      "main": [
        [
          {
            "node": "Consolidate Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checkout FSM": {
      "main": [
        [
          {
            "node": "Checkout Complete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checkout Complete?": {
      "main": [
        [
          {
            "node": "Create Razorpay Link",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Consolidate Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Razorpay Link": {
      "main": [
        [
          {
            "node": "Build Payment Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Payment Message": {
      "main": [
        [
          {
            "node": "Consolidate Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Escalation": {
      "main": [
        [
          {
            "node": "Slack Alert to Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Alert to Team": {
      "main": [
        [
          {
            "node": "Consolidate Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Already Sent Reply": {
      "main": [
        [
          {
            "node": "Consolidate Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidate Data": {
      "main": [
        [
          {
            "node": "Save Session to Supabase",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send WhatsApp Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
