astrosharma-sub-checkout.json
{
  "name": "3. Sub-Workflow: Checkout",
  "nodes": [
    {
      "parameters": {},
      "id": "1",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "jsCode": "const { text, session, userId, phone } = $input.first().json;\nconst step = session.checkoutStep;\nconst collected = { ...session.collectedData };\nif (step === 'NAME') collected.name = text;\nif (step === 'DOB') collected.dob = text;\nif (step === 'BIRTH_TIME') collected.birthTime = text;\nif (step === 'BIRTH_PLACE') collected.birthPlace = text;\nconst steps = ['NAME', 'DOB', 'BIRTH_TIME', 'BIRTH_PLACE', 'DONE'];\nconst isComplete = steps.indexOf(step) + 1 === steps.length;\nconst nextStep = steps[steps.indexOf(step) + 1];\nconst replyText = isComplete ? `Thank you! Generating payment link...` : `Got it. Please provide: ${nextStep}`;\nreturn [{ json: { userId, phone, text, replyText, checkoutComplete: isComplete, session: { ...session, collectedData: collected, checkoutStep: isComplete ? 'DONE' : nextStep, state: isComplete ? 'PAYMENT_SENT' : 'CHECKOUT' } } }];"
      },
      "id": "11",
      "name": "Checkout FSM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "conditions": { "options": { "caseSensitive": true }, "conditions": [ { "leftValue": "={{ $json.checkoutComplete }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true" } } ], "combinator": "and" }
      },
      "id": "12",
      "name": "Checkout Complete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [600, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.razorpay.com/v1/payment_links",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "bodyParameters": { "parameters": [ { "name": "amount", "value": "=20000" }, { "name": "currency", "value": "INR" }, { "name": "customer", "value": "={{ JSON.stringify({ name: $json.session.collectedData.name, contact: '+91' + $json.phone }) }}" } ] }
      },
      "id": "13",
      "name": "Create Razorpay Link",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 200]
    },
    {
      "parameters": {
        "jsCode": "const data = $('Checkout FSM').first().json;\nconst rp = $input.first().json;\nconst paymentUrl = rp.short_url || rp.id;\nreturn [{ json: { ...data, replyText: `Payment Link Ready! \\n${paymentUrl}`, session: { ...data.session, state: 'PAYMENT_SENT', paymentUrl } } }];"
      },
      "id": "14",
      "name": "Build Payment Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 200]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": { "main": [ [ { "node": "Checkout FSM", "type": "main", "index": 0 } ] ] },
    "Checkout FSM": { "main": [ [ { "node": "Checkout Complete?", "type": "main", "index": 0 } ] ] },
    "Checkout Complete?": { "main": [ [ { "node": "Create Razorpay Link", "type": "main", "index": 0 } ] ] },
    "Create Razorpay Link": { "main": [ [ { "node": "Build Payment Message", "type": "main", "index": 0 } ] ] }
  }
}
